<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>258378638859-ndn4l2qhl0ldi6p0tnbevursgah9ra4t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.258378638859-ndn4l2qhl0ldi6p0tnbevursgah9ra4t</string>
	<key>API_KEY</key>
	<string>AIzaSyDWNsmkrUoc6KZUeDBu9S2nbSwnxAFq8cY</string>
	<key>GCM_SENDER_ID</key>
	<string>258378638859</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.huseynvaliyev.TwitterClone</string>
	<key>PROJECT_ID</key>
	<string>twitterclone-d9578</string>
	<key>STORAGE_BUCKET</key>
	<string>twitterclone-d9578.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:258378638859:ios:a8a535939a535a3637890e</string>
</dict>
</plist>